$oh-font-url: 'https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap' !default;

@import url($oh-font-url);

$oh-logo: url("data:image/svg+xml,<svg width='90px' height='100px' viewBox='0 0 90 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='services' transform='translate(-56.000000, -46.000000)' fill-rule='nonzero'><g id='OH!-Media-Logo_2022' transform='translate(56.000000, 46.400000)'><rect id='Rectangle' fill='#FF5B16' x='0' y='0' width='89.6' height='99.2'></rect><g id='Group' transform='translate(9.848889, 9.827423)' fill='#FFFFFF'><path d='M9.56444444,8.68801149 L17.3511111,8.68801149 L17.3511111,56.2228284 L9.56444444,56.2228284 L9.56444444,8.68801149 Z M0,1.77635684e-15 L0,64.9108399 L26.88,64.9108399 L26.88,1.77635684e-15 L0,1.77635684e-15 Z' id='Shape'></path><polygon id='Path' points='47.5022222 1.77635684e-15 47.5022222 29.3042355 39.7155556 29.3042355 39.7155556 1.77635684e-15 30.1866667 1.77635684e-15 30.1866667 64.9108399 39.7155556 64.9108399 39.7155556 36.2119167 47.5022222 36.2119167 47.5022222 64.9108399 57.0311111 64.9108399 57.0311111 1.77635684e-15'></polygon><rect id='Rectangle' x='60.3377778' y='1.77635684e-15' width='9.52888889' height='48.4605887'></rect><rect id='Rectangle' x='60.3377778' y='56.2228284' width='9.52888889' height='8.68801149'></rect></g><g id='Group' transform='translate(9.884444, 80.364106)' fill='#FFFFFF'><polygon id='Path' points='0 0 2.48888889 0 3.66222222 8.15391242 4.83555556 0 7.32444444 0 7.32444444 11.2160804 5.65333333 11.2160804 5.65333333 2.70610194 4.33777778 11.2160804 2.88 11.2160804 1.56444444 2.70610194 1.56444444 11.2160804 0.0355555556 11.2160804 0.0355555556 0'></polygon><polygon id='Path' points='18.7022222 0 23.5022222 0 23.5022222 1.6022972 20.4444444 1.6022972 20.4444444 4.55764537 22.8622222 4.55764537 22.8622222 6.15994257 20.4444444 6.15994257 20.4444444 9.6137832 23.5022222 9.6137832 23.5022222 11.2160804 18.7022222 11.2160804'></polygon><path d='M34.5244444,0 L37.2266667,0 C39.0044444,0 39.8577778,0.96137832 39.8577778,2.77731515 L39.8577778,8.43876525 C39.8577778,10.2190955 39.0044444,11.2160804 37.2266667,11.2160804 L34.5244444,11.2160804 L34.5244444,0 Z M37.1911111,9.64938981 C37.76,9.64938981 38.08,9.36453697 38.08,8.54558507 L38.08,2.70610194 C38.08,1.88715004 37.76,1.6022972 37.1911111,1.6022972 L36.3022222,1.6022972 L36.3022222,9.6137832 L37.1911111,9.6137832 L37.1911111,9.64938981 Z' id='Shape'></path><polygon id='Path' points='51.1288889 0 52.9066667 0 52.9066667 11.2160804 51.1288889 11.2160804'></polygon><path d='M67.7688889,9.04407753 L65.7422222,9.04407753 L65.4222222,11.251687 L63.7866667,11.251687 L65.6,0.0356066045 L67.9822222,0.0356066045 L69.7955556,11.251687 L68.0177778,11.251687 L67.7688889,9.04407753 Z M67.5555556,7.51299354 L66.7377778,1.85154343 L65.9555556,7.51299354 L67.5555556,7.51299354 Z' id='Shape'></path></g></g></g></g></svg>") !default;

@import 'bootstrap';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

$one-space-width: 0.25em;

:root {
  --top-nav-height: 60px;
  --side-nav-width: 250px;
}

body {
  padding-top: var(--top-nav-height);
  padding-left: var(--side-nav-width);
}

#top-nav {
  height: var(--top-nav-height);
  line-height: var(--top-nav-height);
  justify-content: space-between;
  background: $white;
  box-shadow: $box-shadow;

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-padding-x: 0.5rem;
  }
}

#side-nav {
  width: var(--side-nav-width);

  .offcanvas-header {
    color: $white;
    text-decoration: none;
    display: block;

    .oh-logo {
      background-image: $oh-logo;
      height: 90px;
      background-repeat: no-repeat;
      aspect-ratio: 9 / 10;
      background-size: 100%;
      margin-left: $spacer;
    }

    .oh-version {
      vertical-align: top;
      line-height: 1;
      color: $gray-600;
      margin-left: $spacer * 0.5;
    }

    .oh-logo,
    .oh-version {
      height: 50px;
      display: inline-block;
    }
  }

  .nav-link {
    color: $white;

    &:hover,
    &.active {
      background: $primary;
      color: color-contrast($primary);
    }

    i {
      margin-right: $one-space-width;
    }
  }
}

.breadcrumb-item a {
  text-decoration: none;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer;
}

main,
footer {
  @extend .container-xxl;
  padding-top: $spacer;
  padding-bottom: $spacer;
  overflow: hidden;
  margin-left: 0;
}

#top-nav,
main,
footer {
  padding-left: $spacer * 3;
  padding-right: $spacer * 3;
}

main {
  position: relative;

  #toasts {
    position: absolute;
    top: $spacer;
    left: 50%;
    transform: translateX(-50%);
    border: 0;

    .toast {
      margin-bottom: $spacer * 0.5;

      .btn-close {
        filter: invert(1) grayscale(100%) brightness(200%);
        margin: auto;
        margin-right: map-get($spacers, 2);
      }

      &.text-bg-info,
      &.text-bg-warning,
      &.text-bg-light {
        .btn-close {
          filter: none;
        }
      }
    }
  }
}

footer {
  font-size: $font-size-sm;
  color: $secondary;
}

.tox-promotion,
.tox-statusbar__branding {
  display: none;
}

.card-title-with-count {
  display: flex;
  align-items: center;
  gap: $spacer * 0.5;

  .card-title-heading {
    @include font-size($h3-font-size);
    margin: 0;
  }

  .card-title-count {
  }
}

.sortable-ghost {
  @extend .table-success;
}

[data-handle] {
  cursor: pointer;
}

form {
  fieldset:not(.fieldset-nostyle) {
    background: $gray-100;
    border: $input-border-width solid $input-border-color;
    padding: $spacer;
    @include border-radius($input-border-radius, 0);
  }

  fieldset.fieldset-nostyle {
    margin-bottom: $spacer;
  }

  .col-form-label,
  .form-label {
    margin: 0;
    font-weight: bold;
    font-size: $font-size-sm;

    &.required::after {
      content: '*';
      margin-left: $one-space-width;
    }
  }
}

.btn-action {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  float: left;
}

.pagination {
  @extend .pagination-sm;
}

@include media-breakpoint-up(lg) {
  #side-nav {
    transform: none;
    visibility: visible;
    width: var(--side-nav-width);
  }
}

@include media-breakpoint-down(lg) {
  body {
    padding-left: 0;
  }

  #top-bar-breadcrumbs .breadcrumb {
    display: block;
  }

  #top-nav,
  main,
  footer {
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
  }
}

@include media-breakpoint-down(md) {
  #top-nav,
  main,
  footer {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}
