$oh-font-url: 'https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap' !default;

@import url($oh-font-url);

@import 'bootstrap';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

$one-space-width: 0.25em;

$oh-primary-contrast: color-contrast($primary);

:root {
  --top-nav-height: 60px;
  --side-nav-width: 250px;
  --container-padding: #{$spacer * 3};
  --oh-primary-contrast: #{$oh-primary-contrast};
}

img {
  @include img-fluid;
}

body {
  padding-top: var(--top-nav-height);
  padding-left: var(--side-nav-width);
}

#top-nav {
  height: var(--top-nav-height);
  justify-content: space-between;
  background: $white;
  box-shadow: $box-shadow;

  > .navbar-nav {
    flex-direction: row;

    .nav-link {
      --#{$prefix}nav-link-padding-y: 0;
      --#{$prefix}nav-link-padding-x: 0.5rem;
    }
  }
}

$oh-side-nav-padding-x: 1rem;
$oh-side-nav-padding-y: 0.5rem;

#side-nav {
  width: var(--side-nav-width);

  .offcanvas-header {
    color: $white;
    text-decoration: none;
    display: block;

    .oh-logo {
      margin-left: $spacer;
    }

    .oh-version {
      vertical-align: top;
      line-height: 1;
      color: $gray-600;
      margin-left: $spacer * 0.5;
    }

    .oh-logo,
    .oh-version {
      height: 50px;
      display: inline-block;
    }
  }

  .navbar-nav {
    --#{$prefix}nav-link-padding-x: #{$oh-side-nav-padding-x};
    --#{$prefix}nav-link-padding-y: #{$oh-side-nav-padding-y};
    --#{$prefix}nav-link-hover-color: var(--oh-primary-contrast);
    --#{$prefix}navbar-active-color: var(--oh-primary-contrast);
    --#{$prefix}nav-link-color: #{$white};
  }

  .nav-link {
    &:focus,
    &:hover,
    &.active {
      background: var(--#{$prefix}primary);
    }
  }

  .nav-link.with-icon,
  .dropdown-item.with-icon {
    position: relative;
    padding-left: $oh-side-nav-padding-x + 1.5rem;

    i {
      position: absolute;
      left: $oh-side-nav-padding-x;
    }
  }

  .dropdown-menu {
    --#{$prefix}dropdown-bg: none;
    --#{$prefix}dropdown-border-width: 0;
    --#{$prefix}dropdown-box-shadow: none;
    --#{$prefix}dropdown-padding-x: 0;
    --#{$prefix}dropdown-padding-y: 0;
    --#{$prefix}dropdown-item-padding-x: #{$oh-side-nav-padding-x};
    --#{$prefix}dropdown-item-padding-y: #{$oh-side-nav-padding-y};
    --#{$prefix}dropdown-link-color: #{$white};
    --#{$prefix}dropdown-link-hover-color: var(--oh-primary-contrast);
    --#{$prefix}dropdown-link-hover-bg: var(--#{$prefix}primary);
    --#{$prefix}dropdown-link-active-color: var(--oh-primary-contrast);
    --#{$prefix}dropdown-link-active-bg: var(--#{$prefix}primary);

    padding-left: 1.55rem;

    &.collapsing {
      display: block;
    }

    .dropdown-item {
      white-space: normal;
    }
  }
}

.breadcrumb-item a {
  text-decoration: none;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer;
}

#top-bar-actions-inner {
  display: flex;
  justify-content: end;
  gap: 0.25rem;
  flex-wrap: wrap;

  // only select immediate <a>
  // <a> can exist within a Bootstrap dropdown
  // and should not appear as a button
  > a,
  // <button> could be in a Bootstrap dropdown or within a <form>
  button,
  // could be within a <form>
  input[type='submit'] {
    @extend .btn-sm;
  }
}

main,
footer {
  @include make-container;
  padding-top: $spacer;
  padding-bottom: $spacer;
  overflow: hidden;
  margin-left: 0;
}

#top-nav,
main,
footer {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

#toasts {
  position: fixed;
  top: calc(1rem + var(--top-nav-height));
  left: calc(50% + var(--side-nav-width) / 2);
  transform: translateX(-50%);
  border: 0;
  z-index: $zindex-toast;

  .toast {
    margin-bottom: $spacer * 0.5;

    .btn-close {
      filter: invert(1) grayscale(100%) brightness(200%);
      margin: auto;
      margin-right: map-get($spacers, 2);
    }

    &.text-bg-info,
    &.text-bg-warning,
    &.text-bg-light {
      .btn-close {
        filter: none;
      }
    }
  }
}

footer {
  font-size: $font-size-sm;
  color: $secondary;
}

.card-title-with-count {
  display: flex;
  align-items: center;
  gap: $spacer * 0.5;

  .card-title-heading {
    margin: 0;
  }

  .card-title-count {
  }
}

.sortable-ghost {
  @extend .table-success;
}

[data-handle] {
  cursor: pointer;
}

form {
  fieldset:not(.fieldset-nostyle) {
    background: $gray-100;
    border: $input-border-width solid $input-border-color;
    @include border-radius($input-border-radius, 0);

    > legend {
      border-bottom: $input-border-width solid $input-border-color;
      padding: $spacer * 0.5 $spacer;
      background: $gray-200;
    }

    > div {
      padding: $spacer;
    }
  }

  .col-form-label,
  .form-label {
    margin: 0;
    font-weight: bold;
    font-size: $font-size-sm;

    &.required::after {
      content: '*';
      margin-left: $one-space-width;
    }
  }
}

.btn-action {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  float: left;
}

.pagination {
  @extend .pagination-sm;
}

@include media-breakpoint-up(lg) {
  #side-nav {
    transform: none;
    visibility: visible;
    width: var(--side-nav-width);
  }
}

@include media-breakpoint-down(lg) {
  :root {
    --container-padding: #{$spacer * 2};
  }

  body {
    padding-left: 0;
  }

  #top-bar-breadcrumbs .breadcrumb {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  :root {
    --container-padding: #{$spacer};
  }

  .card {
    --#{$prefix}card-spacer-y: #{$spacer};
    --#{$prefix}card-spacer-x: #{$spacer};
    --#{$prefix}card-title-spacer-y: #{$spacer};
  }
}

@import '~nice-select2/dist/css/nice-select2';

.nice-select {
  @extend .form-select;
}

.nice-select {
  float: none !important;
  font-size: inherit !important;
  line-height: 1.5 !important;
  padding: $form-select-padding-y $form-select-indicator-padding
    $form-select-padding-y $form-select-padding-x !important;

  &.open,
  &:active,
  &:focus {
    // copy/paste of .form-control &:focus styles from Bootstrap
    // because pseudo selectors cannot be extended
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $input-focus-box-shadow;
    }
  }

  &::after {
    display: none !important;
  }

  .nice-select-dropdown {
    right: 0;
  }
}
