services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\BackendBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaBackendBundle.php'
