$oh-font-url: 'https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap' !default;

@import url($oh-font-url);

$oh-logo: url("data:image/svg+xml;charset=utf-8,%3Csvg width='90' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath fill='%23FF5B16' d='M0 .4h89.6v99.2H0z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M19.413 18.915H27.2V66.45h-7.787V18.915ZM9.85 10.227v64.911h26.88v-64.91H9.849ZM57.351 10.227v29.305h-7.787V10.227h-9.528v64.911h9.528V46.44h7.787v28.7h9.529V10.226zM70.187 10.227h9.529v48.461h-9.53zM70.187 66.45h9.529v8.688h-9.53z'/%3E%3C/g%3E%3Cg fill='%23FFF'%3E%3Cpath d='M9.884 80.764h2.49l1.173 8.154 1.173-8.154h2.489V91.98h-1.671v-8.51l-1.316 8.51h-1.458l-1.315-8.51v8.51H9.92V80.764zM28.587 80.764h4.8v1.602h-3.058v2.956h2.418v1.602h-2.418v3.454h3.058v1.602h-4.8zM44.409 80.764h2.702c1.778 0 2.631.961 2.631 2.777v5.662c0 1.78-.853 2.777-2.63 2.777h-2.703V80.764Zm2.667 9.65c.568 0 .888-.285.888-1.104v-5.84c0-.819-.32-1.104-.888-1.104h-.89v8.012h.89v.035ZM61.013 80.764h1.778V91.98h-1.778zM77.653 89.808h-2.026l-.32 2.208H73.67L75.484 80.8h2.383l1.813 11.216h-1.778l-.249-2.208Zm-.213-1.53-.818-5.662-.782 5.661h1.6Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !default;

@import 'bootstrap';

@import '../../../../vendor/twbs/bootstrap/scss/bootstrap';

$one-space-width: 0.25em;

:root {
  --top-nav-height: 60px;
  --side-nav-width: 250px;
  --container-padding: #{$spacer * 3};
}

body {
  padding-top: var(--top-nav-height);
  padding-left: var(--side-nav-width);
}

#top-nav {
  height: var(--top-nav-height);
  line-height: var(--top-nav-height);
  justify-content: space-between;
  background: $white;
  box-shadow: $box-shadow;

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-padding-x: 0.5rem;
  }
}

#side-nav {
  width: var(--side-nav-width);

  .offcanvas-header {
    color: $white;
    text-decoration: none;
    display: block;

    .oh-logo {
      background-image: $oh-logo;
      height: 90px;
      background-repeat: no-repeat;
      aspect-ratio: 9 / 10;
      background-size: 100%;
      margin-left: $spacer;
    }

    .oh-version {
      vertical-align: top;
      line-height: 1;
      color: $gray-600;
      margin-left: $spacer * 0.5;
    }

    .oh-logo,
    .oh-version {
      height: 50px;
      display: inline-block;
    }
  }

  .offcanvas-body {
    // necessary for dropdowns to show outside the container
    overflow: visible;
  }

  .nav-link {
    color: $white;

    &:hover,
    &.active {
      background: $primary;
      color: color-contrast($primary);
    }

    i {
      margin-right: $one-space-width;
    }
  }
}

.breadcrumb-item a {
  text-decoration: none;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer;
}

main,
footer {
  @include make-container;
  padding-top: $spacer;
  padding-bottom: $spacer;
  overflow: hidden;
  margin-left: 0;
}

#top-nav,
main,
footer {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

#toasts {
  position: fixed;
  top: calc(1rem + var(--top-nav-height));
  left: calc(50% + var(--side-nav-width) / 2);
  transform: translateX(-50%);
  border: 0;
  z-index: $zindex-toast;

  .toast {
    margin-bottom: $spacer * 0.5;

    .btn-close {
      filter: invert(1) grayscale(100%) brightness(200%);
      margin: auto;
      margin-right: map-get($spacers, 2);
    }

    &.text-bg-info,
    &.text-bg-warning,
    &.text-bg-light {
      .btn-close {
        filter: none;
      }
    }
  }
}

footer {
  font-size: $font-size-sm;
  color: $secondary;
}

.tox-promotion,
.tox-statusbar__branding {
  display: none;
}

.card-title-with-count {
  display: flex;
  align-items: center;
  gap: $spacer * 0.5;

  .card-title-heading {
    @include font-size($h3-font-size);
    margin: 0;
  }

  .card-title-count {
  }
}

.sortable-ghost {
  @extend .table-success;
}

[data-handle] {
  cursor: pointer;
}

form {
  fieldset:not(.fieldset-nostyle) {
    background: $gray-100;
    border: $input-border-width solid $input-border-color;
    padding: $spacer;
    @include border-radius($input-border-radius, 0);
  }

  fieldset.fieldset-nostyle {
    margin-bottom: $spacer;
  }

  .col-form-label,
  .form-label {
    margin: 0;
    font-weight: bold;
    font-size: $font-size-sm;

    &.required::after {
      content: '*';
      margin-left: $one-space-width;
    }
  }
}

.btn-action {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  float: left;
}

.pagination {
  @extend .pagination-sm;
}

@include media-breakpoint-up(lg) {
  #side-nav {
    transform: none;
    visibility: visible;
    width: var(--side-nav-width);
  }
}

@include media-breakpoint-down(lg) {
  :root {
    --container-padding: #{$spacer * 2};
  }

  body {
    padding-left: 0;
  }

  #top-bar-breadcrumbs .breadcrumb {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  :root {
    --container-padding: #{$spacer};
  }
}
